body{
    background-color: black;
}

#Navbar{
    background-color: black;
}
#formBasicName{
    width: 20vw;
}

#formBasicEmail{
    width: 20vw;
}

#formBasicPassword{
    width: 20vw;
}
#labelGoogle{
    color: white;
}
#labelContraseña{
    color: white;
}

#formBasicRepitPassword{
    width: 20vw;
}

#Form{
    color: white;
   margin-left: 40%;
   /* border: solid; */
}

#buttonRegistrrse{
    text-decoration: none;
    color: white;
}
#irLogin{
    text-decoration: none;
    color: white;
}
.h1Peliculas{
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 5%;
    color: white;
}
#block-icon{
    width: 50px;
    height: 50px;
    
}
#tarjeta{
    width: 300px;
    height: 500px;
}

 

